name: 'Terraform Deploy'

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      terraform_action:
        description: 'Action to perform (apply/destroy)'
        required: true
        default: 'apply'
        type: choice
        options:
          - apply
          - destroy
  pull_request:

permissions:
  contents: read
  id-token: write # Required for requesting the JWT

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      GCP_PROJECT_ID: ${{ vars.GCP_PROJECT_ID }}
      GCP_REGION: us-south1  # Change to your preferred region
      TF_STATE_BUCKET: ${{ vars.TF_STATE_BUCKET }}
      
    defaults:
      run:
        working-directory: ./gcp-vnets
        
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # Authenticate to GCP using Workload Identity Federation
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v2'
      with:
        workload_identity_provider: ${{ vars.WORKLOAD_INDENTITY_PROVIDER }}
        service_account: ${{ vars.GCP_SERVICE_ACCOUNT }}
   
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan -input=false

    - name: Terraform Action
      # Logic to choose between Apply and Destroy
      run: |
        if [ "${{ github.event.inputs.terraform_action }}" == "destroy" ]; then
          terraform destroy -auto-approve
        else
          terraform apply -auto-approve
        fi
      env:
        TF_VARS_vpc_east_namet: ${{ vars.vpc_east_name }}
